@model Site.Business.Charts.ChartData

@using EPiServer.Framework.Web.Resources
@using EPiServer.Shell
@using EPiServer.Shell.Modules

@{
    var settings = Site.Business.Helper.EPiServerInitializationHelper.GetModuleSettings();

}

<html>
    <head>
        <style>
            .preview-charts, .charts-container { width: 400px; height:400px;}
        </style>

        @Html.Raw(ClientResources.RenderResources("DojoDashboardCompatibility", new[] { ClientResourceType.Script }))
        <script type="text/javascript" src="@Paths.ToShellClientResource("ClientResources/dojo/dojo.js")"></script>
        <script type="text/javascript" src="@Paths.ToShellClientResource("ClientResources/epi/epi.js")"></script>
       
        
        <script type='text/javascript'>

            require([
                "epi/shell/Bootstrapper"
            ], function (
                 Bootstrapper
                ) {
                var cmsModuleSettings = @Html.Raw(Html.SerializeObject(settings, "application/json"));
                    var bs = new Bootstrapper(cmsModuleSettings);
                    bs.initializeApplication(null, "CMS").then(function () {
                        require([
                            "app/editors/chartpreview",
                            "dojo/parser",
                            "dojo/domReady!"
                        ], function (chartpreview, parser, domReady) {
                            parser.parse();
                        });
                    });
            });


        </script>

    </head>
<body>
    <div class="preview-charts" data-dojo-type="app/editors/chartpreview" 
         data-dojo-props="currentPageId: '8', chartId: '@Model.ContentLink.ID', title: '@Model.Title', titlePosition: '@Model.TitlePosition', theme: '@Model.Theme', effects: '@Model.ActionAndEffects', legend: '@Model.ShowLegend'"></div>
</body>
</html>
